img{
    width: 125px;
    height: 90px;
    border-radius: 15px;
    display: flex;
}
.navBar{
    width: 100%;
    display: flex;
    align-items: center;
    align-content: space-between;
    margin-bottom: 50px;
    gap: 10px;
    justify-content: center;
    background-color: #8F9779;
    padding: 24px;
    border-radius: 10px;
    
}
.navBar ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}



.navLink{
    text-decoration: none;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.image{
    
}

.welcome{
    
}

.navBar li:hover{
    background-color:#4B6F44 ;
    border-radius: 5px;
    }

